{% extends 'base.html.twig' %}

{% block body %}
    <section class="top-section">
        <nav class="navigation-bar">
            <div class="container">
                <a class="brand" href="{{ path('homepage') }}"></a>
            </div>
        </nav>
        <div class="container hero-container">
            <div class="col-sm-7 hero-text">
                <h1 class="hero-title">App Android di navigazione indoor</h1>
                <h4 class="hero-description">
                    Wescape ti permette di navigare all'interno degli edifici, proprio come un
                    vero navigatore. Ma non solo: nel malaugurato caso in cui dovesse scoppiare un'emergenza, Wescape
                    saprà condurti fuori dall'edificio nel più breve tempo possibile!</h4>
                <a class="google-play-link" href="https://play.google.com/store/apps/details?id=com.dii.ids.application"></a>
            </div>
            <div class="hero-image">
                <img class="smartphone-screenshots" src="{{ asset('assets/images/smartphone-screen.png') }}">
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="documentation">
        <div class="container">
            <div class="col-sm-5 box">
                <div class="box-icon">
                    <img class="icon" src="{{ asset('assets/images/documentation-icon.png') }}">
                </div>
                <div class="box-title">Documentazione</div>
                <div class="box-link">
                    <ul>
                        <li><a href="{{ path('nelmio_api_doc_index') }}" target="_blank">Documentazione servizio API RESTful</a></li>
                        <li><a href="{{ asset('assets/data/relazione.pdf') }}" target="_blank">Documento di progettazione e sviluppo</a></li>
                        <li><a href="{{ asset('assets/data/guida.pdf') }}" target="_blank">Guida all'utilizzo</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-2 box">
                <div class="box-icon">
                    <img class="icon" src="{{ asset('assets/images/qr-icon.png') }}">
                </div>
                <div class="box-title">Generatore QR</div>
                <div class="box-description">
                    Generatore di codici QR da appendere nelle stanze
                </div>
                <a href="{{ path('qr_generator') }}" class="box-button btn btn-lg btn-wescape-red">Vai al generatore</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
{% endblock %}